@font-face {
  font-family: "CircularStd-Book";
  src: url("../assets/fonts/woff/CircularStd-Book.woff") format("woff"); }
@font-face {
  font-family: "Compacta";
  src: url("../assets/fonts/woff/CompactaBT-Roman.woff") format("woff"); }
@font-face {
  font-family: "GraphikBold";
  src: url("../assets/fonts/woff/Graphik-Bold.woff") format("woff"); }
@font-face {
  font-family: "GraphikSemiBold";
  src: url("../assets/fonts/woff/Graphik-Semibold.woff") format("woff"); }
@font-face {
  font-family: "NittiBasicBlack";
  src: url("../assets/fonts/woff/NittiBasic-Black.woff") format("woff"); }
@font-face {
  font-family: "CircularStd-Book-ttf";
  src: url("../assets/fonts/otf-ttf/CircularStd-Book.ttf") format("ttf"); }
@font-face {
  font-family: "CompactaBT-Roman-ttf";
  src: url("../assets/fonts/otf-ttf/CompactaBT-Roman.ttf") format("ttf"); }
@font-face {
  font-family: "NittiBasic-Black-ttf";
  src: url("../assets/fonts/otf-ttf/NittiBasic-Black.ttf") format("ttf"); }
@font-face {
  font-family: "Graphik-Bold-otf";
  src: url("../assets/fonts/otf-ttf/Graphik-Bold.otf") format("otf"); }
@font-face {
  font-family: "Graphik-Semibold-otf";
  src: url("../assets/fonts/otf-ttf/Graphik-Semibold.otf") format("otf");
  font-weight: 100; }
html,
body {
  font-family: CircularStd-Book, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
  caret-color: white; }

.pull-right {
  text-align: right; }

.swipe-container {
  height: 675px; }

#background-images {
  height: 675px;
  display: flex;
  width: auto;
  position: absolute;
  left: -40px; }
  #background-images div {
    width: 375px;
    height: 675px; }

#carousel-container {
  position: absolute;
  left: 20px;
  height: 667px;
  display: flex;
  width: auto;
  position: absolute;
  padding-top: 170px; }

.App {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center; }
  .App h1 {
    font-weight: bold;
    font-family: GraphikSemiBold;
    font-size: 24px; }
  .App .app-container {
    display: inline-block;
    width: 400px;
    height: 860px;
    background-image: url("../assets/img/iphone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 371px 861px;
    background-position-x: 10px;
    margin: 0 auto; }
    .App .app-container .container-display {
      margin: 0 auto;
      margin-top: 84px;
      height: 667px;
      width: 337px;
      overflow-x: hidden;
      overflow-y: scroll; }
      .App .app-container .container-display .main {
        position: relative;
        top: -35px;
        height: 667px; }
        .App .app-container .container-display .main .app-logo {
          position: absolute;
          top: 60px;
          left: 20%;
          height: 110px;
          margin: 0 auto;
          z-index: 100; }
        .App .app-container .container-display .main .slider, .App .app-container .container-display .main .wtwslider {
          height: 667px !important;
          cursor: pointer;
          touch-action: none;
          z-index: 1000 !important;
          position: absolute;
          top: 0px;
          cursor: pointer;
          z-index: 100;
          touch-action: none;
          width: 375px; }
          .App .app-container .container-display .main .slider .slider-control-bottomright, .App .app-container .container-display .main .slider .slider-control-bottomleft, .App .app-container .container-display .main .wtwslider .slider-control-bottomright, .App .app-container .container-display .main .wtwslider .slider-control-bottomleft {
            font-family: GraphikSemiBold;
            letter-spacing: 1px;
            position: absolute;
            bottom: 0px;
            width: 140px; }
            .App .app-container .container-display .main .slider .slider-control-bottomright .glyphicon, .App .app-container .container-display .main .slider .slider-control-bottomleft .glyphicon, .App .app-container .container-display .main .wtwslider .slider-control-bottomright .glyphicon, .App .app-container .container-display .main .wtwslider .slider-control-bottomleft .glyphicon {
              padding: 10px;
              font-size: 15px; }
          .App .app-container .container-display .main .slider .slider-control-bottomright, .App .app-container .container-display .main .wtwslider .slider-control-bottomright {
            right: 40px; }
          .App .app-container .container-display .main .slider .slider-control-bottomleft, .App .app-container .container-display .main .wtwslider .slider-control-bottomleft {
            left: 0px; }

.background-images {
  width: auto;
  height: 667px;
  position: absolute;
  top: 0px;
  overflow: hidden; }
  .background-images div {
    height: 667px;
    width: 375px; }

.imageStyle {
  position: absolute; }

.image-style {
  width: 375px;
  position: absolute;
  height: 667px;
  overflow-x: hidden;
  left: 0px; }

.float-right {
  float: right !important; }

.float-left {
  float: left !important; }

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 450px) {
  .App .app-container {
    margin: 0 auto;
    background-image: none; } }

/*# sourceMappingURL=App.css.map */
