.carousel-item{
  height:870px;
  img{
    height:870px;
    width:auto;
  }

    .content-bg{
      position: absolute;
      padding-top: 90px;
      top: 180px;
      width: 84%;
      height:870px;
      left:7%;
      background-color:white;
      opacity:.1;
    }
    .content-overlay {
      position: absolute;
      padding-top:90px;
      border-radius:5px;
      top: 180px;
      width: 84%;
      text-align: center;
      left: 7%;
      font-family: GraphikSemiBold;


      .play{
        font-size: 50px;
        display: block;
        margin-bottom:60px;
      }
      .genre {
        width: 60%;
        height: 25px;
        display: inline-block;
        margin: 0 auto;
        font-family: Compacta;
        padding-bottom:0px;


        label {
          float: left;
          font-size:20px;
          vertical-align:top;
        }

        .time{
          font-weight:100;
          font-size: 15px;
          line-height: 2.1em;
        }

      }

      p {
        width: 80%;
        margin:0 auto;
      }

      h1 {
        font-weight: bold;
        font-family: GraphikBold;
        font-size: 26px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;


      }
    }
}