.carousel-item {
  width: 285px;
  height: 870px;
  display: block;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  overflow-x: hidden;
  position: relative;
  border-radius: 5px;
  top: 10px;
  text-align: center;

  font-family: GraphikSemiBold;

  img {
    height: 870px;
    width: auto;
  }



  .content-bg {
    position: relative;

    height: 870px;

    background-color: white;
    opacity: .1;
  }

  .play {
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 42%;
    margin-bottom: 60px;
  }
  .genre {
    position: absolute;
    top: 150px;
    left: 16%;
    width: 70%;
    height: 25px;
    display: block;
    margin: 0 auto;
    font-family: Compacta;
    padding-bottom: 0px;

    label {
      float: left;
      font-size: 20px;
      vertical-align: top;
    }

    .time {
      font-weight: 100;
      font-size: 15px;
      line-height: 2.1em;
    }

  }

  p {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    top: 300px;
    left: 6%;
  }

  h1 {
    position: absolute;
    top: 180px;
    margin:0 auto;
    left: 20px;
    font-family: GraphikBold;
  }
}
