.wtw{
  background-color: white;
  color: black;
  position: relative;
  top:0px;
  bottom:-34px;
  display: block;
  text-align: left;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height:400px;

    h1{
      position:relative;
      left:20px;

    }
  ul{
    position: relative;
    margin: 0;
    padding: 0;
    left: 11px;
    list-style: none;
    font-size: 0;
    text-align: left;
    position: relative;
    min-height: 40px;
    li {
      font-size: 14px;
      display:inline;
      float:left;
      padding:10px;
      color: #b6b6b6;
    }
    .selected{
      font-weight:bold;
      font-size:16px;
      color: black;

    }

  }

  .wtw-content{
    overflow:auto;
    overflow-y:hidden;
    display: block;
    position: relative;
    width: 367px;
    height:400px;
    left: 0px;

    #wtw-container{
      padding-top:0px;
      display: flex;
      width: auto;
      position: absolute;
      height: 395px;
      overflow:hidden;
      left:5px;

      .video-item{
        top:0px !important;
        width: 280px;
        border:none;
        color:white;
        height:auto;
        overflow:hidden;
        margin-left:15px;
        margin-right:15px;

        .video-img{
          width:100%;
          height: 387px;
        }

        .synopsis{
          position: absolute;
          top: 248px;
          left: 13px;
          font-size: 18px;
          text-align: left;
        }

        .genre {
          position: absolute;
          top: 54%;
          left: 4%;
          width: 70%;
          height: 25px;
          display: block;
          margin: 0 auto;
          font-family: Compacta;
          padding-bottom: 0px;
        }

        .play{
          left:42%;
          top:30%;
        }

        .vid-container{
          height:auto;
          width:100%;
          z-index: 1002;
          position: absolute;
          top: 0px;
          left:0px;

          .close{
            font-size:20px;
            color:black;
          }

          video{
            height:100%;
            width:100%;

          }
        }
      }

      .landscape{
        float:none;
        margin-bottom:10px;

        .play{
          right: -110px;
          top: 130px;
          margin-bottom: 0px;
          font-size:35px;
        }

        .genre{
          top: 44%;
        }
        .synopsis{
          top:auto;
          bottom:18px;
          width:78%;
          font-size: 17px;
          line-height: 1;
        }

        .video-img{
          height:187px;
        }
      }

    }

    .slider{
      height:300px;
      width:600px;
      position:relative;
      left:0px !important;
    }

  }



}